*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    overflow-x: hidden;


body{
    background-color: #f1eded;
    padding: 0 7vw;
    user-select: none;
}
 
header{
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header div:nth-child(1) img{
    width: 60px;
 }

  header div:nth-child(2) ul , header div:nth-child(3) ul {
 display: flex;
 font-weight: bold;
 color: #191817;
 font-size: 13px;
  }


 header div:nth-child(2) ul li, header div:nth-child(3) ul li{
    margin: 0 5px;
    padding: 5px 20px;
    border: 1.5px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
 }
 header div:nth-child(2) ul li:first-child, header div:nth-child(3) ul li:last-child{
    border: 1.5px solid rgb(190, 182, 182); }

    header div:nth-child(2) ul li:hover, header div:nth-child(3) ul li:hover{
        border: 1.5px solid  rgb(190, 182, 182);
    }

}

header a {
    text-decoration: none;
    color: rgb(138, 134, 134);
}

header a:hover {
    color: #746c62;
}

.sec1{
    display: flex;
    justify-content: space-between;
         align-items: center;
         
         
}

.sec1 div:nth-child(1){
    width: 350px;
    color:rgb(110, 101, 101);
}
.sec1 div:nth-child(1) h1{
    font-size: 5em;
}

.sec1 div:nth-child(1) h3{
    font-size: 1.8rem;
    text-align: justify;
    font-weight:700;
    margin-bottom: 15px; ;
}

.sec1 div:nth-child(2) img{
    width: 600px;  
}


.btn-1{
    margin:  0 5px;
    padding: 5px 20px;
    border: 1.5px solid rgb(106, 83, 83);
    border-radius: 20px;
    background-color: transparent;
    color: rgb(153, 150, 150);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-1:hover{
    background-color: white;
    color: #998D8D;
}


.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}



.section-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}

.section-divider span{
    height: 5px;
    width: 40px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
}

.section-divider .active{
    width: 80px;
    background-color: white;
}

.sec2{
    margin: 80px;
    color: #4d4945;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin-top: 150px;

}

.sec2 h1{
    font-size: 2.5em;
}

.sec2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
}

.sec2 .container div{
    cursor: pointer;
    margin-top: 30px;
    background-color: #a5a29f;
    border: 1px solid white;
    border-radius: 10px;
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

.sec2 .container div:hover{
    transform: scale(1.04);
}

.sec2 .container div img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    background-color: red;
}
.sec2 .container div i{
    border: 1px solid rgb(91, 83, 83);
    padding: 5px 7px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 15px;
    transition: all 0.2s;
}

.sec2 .container div i:hover{
    background-color: white;
    color: #0e0d0d;
}

.sec3{
    background-color: #bcb6b6;
    color: rgb(136, 131, 131);
        margin-top: 100px;
}

.sec3{
    color: rgb(94, 84, 84);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.sec3 div:nth-child(1) {
    width: 600px;
}

.sec3 div:nth-child(1) img{
    width: 500px;
}
.sec3 div:nth-child(2) {
    max-width: 600px;
    border: 1px solid#bcb6b6;
    border-radius: 8px;
    padding: 35px;
}
.sec3 div:nth-child(2) p{
    font-size: 14px;
    line-height: 25px;
    padding: 20px 0;
    text-align: justify;
}
.more-text{
    display: none;
}

.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(103, 100, 100);
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 150px;
}

.sec4div{ 
    width: 70%;
    padding: 10px 0px;
}
.qns{
    width: 100%;
    border: 1px solid rgb(140, 134, 134);
    background-color: #c8baba;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.qns div:nth-child(1){
    padding: 10px 20px;
}
.qns div h4{
    line-height: 30px;
    font-size: 0.8rem;
}
.qns div p{
    line-height: 30px;
    font-size: 0.7rem;
}
.qns .add{
    background-color: #a09693;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.fa-minus{
    padding-right: 2px;
}

.add.none{
    background-color: transparent;
    height: 20px;
}

.hide{
    display: none;
}
.fa-minus.hide{
    display: none;
}
.show{
    display: block;
}

.sec5{
    background-color: #998D8D;
    border: 1px solid white;
    border-radius: 15px;
    padding: 50px;
    color:white;
    margin-bottom: 150px;
    margin-top: 150px;
}

.sec5 h1{
    font-size: 2.0em;
}

.sec5 .container{
    display: flex;
    justify-content: space-between;
   padding-top: 35px;
}

.sec5 h3{
    font-size: 1.1em;
    padding: 10px 0;
    padding-bottom: 3px;
}

.sec5 p, .sec5 pre{
    font-size: 0.7em;
    margin-bottom: 10px;

}
.sec5 .container div{
    margin-left: 0px;
    width: 69%;
}
.sec5 form{
    padding: 0 20px;
}

.sec5 input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 1px solid white;
    margin: 10px;
    line-height: 20px;
    color: white;
}

.sec5 input::placeholder{
    color: rgba(120, 106, 106, 0.7);

}
.sec5 .btn-1{
    margin-top: 20px;
}

.sec5 .container div:nth-child(3){
    width: 2px;
    height: 100px;
    background-color: white;
    margin: 70px 0;
}

.sec5 .container div:nth-child(4){
display: flex;
flex-direction: column;
}

.sec5 a{
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    transition: all 0.2s;

}

.sec5 a:hover{
    background-color: white;
    color: #998D8D;
}


.menu{
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 20px;

}
.heading{
    background: #867e74;
    color:white;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align:center;
}
.heading{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.Coffee-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(69, 64, 64, 0.6);
    transition: .2s ease-in-out;
}

.Coffee-items img{
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
    color: #2d2b2b;
}
.price{
    text-align: right;
}
.details>p{
    color: #c9c0c0;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background: #8c7b66;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
}